@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

header .logo{
    background-color: #ffc107; /*Background-color = mudar cor de fundo*/
    text-align: center;
}

header .menu{
    background-color: #ffa000;
    display: flex; /*Ativar Flexbox*/
    justify-content: center; /*Centralizar na horizontal*/
    ;
}

header .menu ul{
    margin: 0; /*margin = espaçamento externo*/
    list-style: none; /*list-style = tirar marcador da lista*/
}

header .menu ul li{
    display: inline-block;
    padding: 10px 15px;
}
header .menu ul li a{
    text-decoration: none; /*tirar sublinhado*/
    color: #fdfdfd; /*muda a cor do text*/
}

main section.banner{
    height: 600px; /*Altura*/
    background-color: mediumslateblue; /*Cor de fundo*/
    background-image: url(../IMG/banner-home.png); /*Imagem de fundo*/
    background-repeat: no-repeat; /*Imagem não vai repetir*/
    background-size: cover; /*Imagem vai cobrir todo elemento section*/
}

main section.banner h1{
    font-size: 70px;
    text-transform: lowercase;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.36); /*Sombra no texto*/
    padding: 100px;
}

main section.banner .container {
    display: flex;
    justify-content: flex-end; /* alinhamento horizontal pra direita */
    align-items: center; /* alinhamento vertical centralizado */
    height: 600px; /* altura */
}

main section.receitas-principais .container{
    min-height: 600px;
    width: 1200px;
    margin: 0 auto;
}

main section.receitas-principais h2{
    color: #ffa000;
    text-align: center;
    font-weight: bold; /* "Grossura" da letra*/
    font-size: 55px; /*Tamanho da letra*/
    text-transform: lowercase; /*letras minuscula*/
}

.lista-receitas{
    display: flex; /*Ativando o Flexbox*/
    justify-content: space-between; /*Espaçamento igual ao redor dos elementos (Horrizontal)*/
    align-items: flex-start; /*Todos os elementos alinhados ao topo*/
}

.lista-receitas article{
    /* border: 1px solid orange;  */
    width: 345px; /*Largura do article*/
    text-align: center; /*Centralizando tudo do article*/
}

.lista-receitas .thumb{
    width: 100%; /*Imagem vai ocupar 100% de largura do article*/
    height: 345px; /*Altura do thumb*/
    background-color: orange; /*Cor de fundo somente para teste*/
    background-size: cover; /*Imagem cobre todo elemento*/
    background-repeat: no-repeat; /*Imagem não se repete*/
    background-position: center; /*Para ficar com a imagem centralizada*/
}

.lista-receitas article h3{
    font-size: 26px;
}

.lista-receitas article a{
    background-color: #176902; /*Cor de fundo*/
    color: #fff; /*Cor do texto*/
    font-size: 24px; /*Tamanho da letra*/
    font-weight: bold; /*Grossura da letra*/
    padding: 5px 25px; /*Espaçamento interno do botão*/
    text-decoration: none; /*Tirar sublinhado do Link*/
}

