@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    /* garante que o elemento ocupa no maximo o espaço definido no width */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    background-color: #FFC107;
    text-align: center;
}

header .menu {
    background-color: #FFA000;
    /* background-color = cor de fundo */
    /* flexbox (mais detalhes na prox. aula) */
    display: flex;
    /* ativar flexbox */
    justify-content: center;
    /* centralizar na horizontal */
}

header .menu ul {
    margin: 0;
    /* margin = espaçamento externo */
    list-style: none;
    /* tirar marcador da lista */
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    /* padding = espaçamento interno | 10px pra cima e pra baixo, 15px pras laterais */
}

header .menu ul li a {
    text-decoration: none;
    /* tirar sublinhado */
    color: #FDFDFD;
    /* muda a cor do texto */
}

main section.banner {
    height: 600px;
    /* altura */
    background-color: cadetblue;
    /* cor de fundo pra teste */
    background-image: url(../imagens/banner-home.png);
    /* imagem de fundo */
    background-repeat: no-repeat;
    /* imagem não vai repetir */
    background-size: cover;
    /* imagem vai cobrir todo o elemento section */
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;
    /* alinhamento horizontal pra direita */
    align-items: center;
    /* alinhamento vertical centralizado */
    height: 600px;
    /* altura */
}

main section.banner h1 {
    font-size: 70px;
    text-transform: lowercase;
    /* tudo com letra minuscula */
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    /* sombra no texto */
    padding: 100px;
}

main section.receitas-principais .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    /* largura */
    margin: 0 auto;
    /* espaçamento automatico para centralizar o container */
}

main section.receitas-principais h2 {
    color: #FFA000;
    text-align: center;
    font-weight: bold;
    /* grossura da letra */
    font-size: 55px;
    /* tamanho da letra */
    text-transform: lowercase;
    /* letras minusculas */
}

.lista-receitas {
    display: flex;
    /* ativando flexbox */
    justify-content: space-between;
    /* espaçamento igual ao redor dos elementos (horizontal) */
    align-items: flex-start;
    /* todos os elementos alinhados ao topo */
    flex-wrap: wrap;
    /* permite que aconteça a quebra de linha */
}

.lista-receitas article {
    /* border: 1px solid orange; */
    /* borda somente para teste */
    width: 345px;
    /* largura do article */
    text-align: center;
    /* centralizando tudo no article */
    margin-bottom: 60px;
    /* espaçamento inferior */
}

.lista-receitas article .thumb {
    width: 100%;
    /* imagem vai ocupar 100% de largura do article */
    height: 280px;
    /* altura do thumb */
    background-color: orange;
    /* cor de fundo somente para teste */
    background-size: cover;
    /* imagem cobre todo o elemento */
    background-repeat: no-repeat;
    /* imagem não se repete */
    background-position: center;
    /* imagem centralizada */
}

.lista-receitas article h3 {
    font-size: 26px;
}

.lista-receitas article a {
    background-color: #176902;
    /* cor de fundo */
    color: #FFF;
    /* cor do texto */
    font-size: 24px;
    /* tamanho da letra */
    font-weight: bold;
    /* grossura da letra */
    padding: 5px 25px;
    /* espaçamento interno do botão */
    text-decoration: none;
    /* tirar sublinhado do link */
}

section.banner-secundario {
    background-image: url(../imagens/foto-avo.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* itens em coluna */
    justify-content: center;
    /* alinhamento centralizado na vertical */
}

section.banner-secundario .container h2 {
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.banner-secundario .container p {
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
}

footer {
    background-color: #FFC107;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

footer .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p {
    padding: 0 15px;
}


/* Página 2: Todas as Receitas */

main section.todas-receitas .container {
    min-height: 600px;
    /* altura minima */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

main section.todas-receitas h2 {
    color: #FFA000;
    font-weight: bold;
    font-size: 50px;
    text-transform: lowercase;
}


.container-receita-interna {
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-receita-interna main {
    width: 700px;
    max-width: 100%;
}

.container-receita-interna main img {
    width: 100%;
}

small.tag {
    display: inline-block;
    border: 1px solid #176902;
    border-radius: 47px;
    /* bordas arredondadas */
    color: #176902;
    padding: 5px 10px;
    margin: 10px 0;
}

aside article.receita-relacionada {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 40px 0;
}

aside article.receita-relacionada .thumb {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

aside article.receita-relacionada h3 {
    padding: 10px;
    margin: 0;
    text-transform: lowercase;
    text-align: center;
}

/* Página Contato */

.banner-contato {
    width: 100%;
    height: 400px;
    background-image: url(../imagens/banner-contato.png);
    background-size: cover;
    background-position: center;
}

.banner-contato .container,
section.contato .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}

.banner-contato .container h1 {
    color: #fff;
    font-size: 70px;
}

.banner-vertical {
    width: 30%;
    height: 700px;
    background-image: url(../imagens/banner-vertical.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.formulario {
    border: 1px solid #FFA000;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
    width: 70%;
}

.formulario h2 {
    color: #FFA000;
}

.formulario form input {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}

.formulario form textarea {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    height: 200px;
}

.formulario form button {
    font-size: 16px;
    background-color: #FFA000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #FFA000;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.5s;
}

.formulario form button:hover {
    background-color: green;
    border-color: green;
    cursor: pointer;
}


@media (max-width: 1100px) {
    /* se o dispositivo tiver no maximo 1100px */

    .container,
    .container-receita-interna {
        width: 900px !important;
        max-width: 100% !important;
        /* !important sobrescreve outras regras */
    }

    main section.banner .container {
        justify-content: flex-start;
    }

    .lista-receitas article {
        width: 250px;
    }

    .container-receita-interna main {
        width: 500px;
    }

    .container-receita-interna main iframe {
        width: 100%;
    }

}

@media (max-width: 900px) {

    .container,
    .container-receita-interna {
        width: 800px !important;
        padding: 0 20px;
    }

    .lista-receitas article {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    /* garante que o elemento ocupa no maximo o espaço definido no width */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    background-color: #FFC107;
    text-align: center;
}

header .menu {
    background-color: #FFA000;
    /* background-color = cor de fundo */
    /* flexbox (mais detalhes na prox. aula) */
    display: flex;
    /* ativar flexbox */
    justify-content: center;
    /* centralizar na horizontal */
}

header .menu ul {
    margin: 0;
    /* margin = espaçamento externo */
    list-style: none;
    /* tirar marcador da lista */
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    /* padding = espaçamento interno | 10px pra cima e pra baixo, 15px pras laterais */
}

header .menu ul li a {
    text-decoration: none;
    /* tirar sublinhado */
    color: #FDFDFD;
    /* muda a cor do texto */
}

main section.banner {
    height: 600px;
    /* altura */
    background-color: cadetblue;
    /* cor de fundo pra teste */
    background-image: url(../imagens/banner-home.png);
    /* imagem de fundo */
    background-repeat: no-repeat;
    /* imagem não vai repetir */
    background-size: cover;
    /* imagem vai cobrir todo o elemento section */
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;
    /* alinhamento horizontal pra direita */
    align-items: center;
    /* alinhamento vertical centralizado */
    height: 600px;
    /* altura */
}

main section.banner h1 {
    font-size: 70px;
    text-transform: lowercase;
    /* tudo com letra minuscula */
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    /* sombra no texto */
    padding: 100px;
}

main section.receitas-principais .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    /* largura */
    margin: 0 auto;
    /* espaçamento automatico para centralizar o container */
}

main section.receitas-principais h2 {
    color: #FFA000;
    text-align: center;
    font-weight: bold;
    /* grossura da letra */
    font-size: 55px;
    /* tamanho da letra */
    text-transform: lowercase;
    /* letras minusculas */
}

.lista-receitas {
    display: flex;
    /* ativando flexbox */
    justify-content: space-between;
    /* espaçamento igual ao redor dos elementos (horizontal) */
    align-items: flex-start;
    /* todos os elementos alinhados ao topo */
    flex-wrap: wrap;
    /* permite que aconteça a quebra de linha */
}

.lista-receitas article {
    /* border: 1px solid orange; */
    /* borda somente para teste */
    width: 345px;
    /* largura do article */
    text-align: center;
    /* centralizando tudo no article */
    margin-bottom: 60px;
    /* espaçamento inferior */
}

.lista-receitas article .thumb {
    width: 100%;
    /* imagem vai ocupar 100% de largura do article */
    height: 280px;
    /* altura do thumb */
    background-color: orange;
    /* cor de fundo somente para teste */
    background-size: cover;
    /* imagem cobre todo o elemento */
    background-repeat: no-repeat;
    /* imagem não se repete */
    background-position: center;
    /* imagem centralizada */
}

.lista-receitas article h3 {
    font-size: 26px;
}

.lista-receitas article a {
    background-color: #176902;
    /* cor de fundo */
    color: #FFF;
    /* cor do texto */
    font-size: 24px;
    /* tamanho da letra */
    font-weight: bold;
    /* grossura da letra */
    padding: 5px 25px;
    /* espaçamento interno do botão */
    text-decoration: none;
    /* tirar sublinhado do link */
}

section.banner-secundario {
    background-image: url(../imagens/foto-avo.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* itens em coluna */
    justify-content: center;
    /* alinhamento centralizado na vertical */
}

section.banner-secundario .container h2 {
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.banner-secundario .container p {
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
}

footer {
    background-color: #FFC107;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

footer .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p {
    padding: 0 15px;
}


/* Página 2: Todas as Receitas */

main section.todas-receitas .container {
    min-height: 600px;
    /* altura minima */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

main section.todas-receitas h2 {
    color: #FFA000;
    font-weight: bold;
    font-size: 50px;
    text-transform: lowercase;
}


.container-receita-interna {
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-receita-interna main {
    width: 700px;
    max-width: 100%;
}

.container-receita-interna main img {
    width: 100%;
}

small.tag {
    display: inline-block;
    border: 1px solid #176902;
    border-radius: 47px;
    /* bordas arredondadas */
    color: #176902;
    padding: 5px 10px;
    margin: 10px 0;
}

aside article.receita-relacionada {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 40px 0;
}

aside article.receita-relacionada .thumb {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

aside article.receita-relacionada h3 {
    padding: 10px;
    margin: 0;
    text-transform: lowercase;
    text-align: center;
}

/* Página Contato */

.banner-contato {
    width: 100%;
    height: 400px;
    background-image: url(../imagens/banner-contato.png);
    background-size: cover;
    background-position: center;
}

.banner-contato .container,
section.contato .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}

.banner-contato .container h1 {
    color: #fff;
    font-size: 70px;
}

.banner-vertical {
    width: 30%;
    height: 700px;
    background-image: url(../imagens/banner-vertical.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.formulario {
    border: 1px solid #FFA000;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
    width: 70%;
}

.formulario h2 {
    color: #FFA000;
}

.formulario form input {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}

.formulario form textarea {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    height: 200px;
}

.formulario form button {
    font-size: 16px;
    background-color: #FFA000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #FFA000;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.5s;
}

.formulario form button:hover {
    background-color: green;
    border-color: green;
    cursor: pointer;
}


@media (max-width: 1100px) {
    /* se o dispositivo tiver no maximo 1100px */
    .container,
    .container-receita-interna {
        width: 900px !important;
        max-width: 100% !important;
        /* !important sobrescreve outras regras */
    }

    main section.banner .container {
        justify-content: flex-start;
    }

    .lista-receitas article {
        width: 250px;
    }

    .container-receita-interna main {
        width: 500px;
    }

    .container-receita-interna main iframe {
        width: 100%;
    }

@media (max-width: 900px) {
    main section.banner {
        background-position: center;
    }
    }